.heading-main {
  font-size: 7.2rem;
  line-height: 1;
  margin-bottom: 4rem;
  font-family: $headers-font;
  font-weight: 700;
  animation: slideRight2 2s;

  @media screen and (max-width: $small-bp) {
    text-align: center;
  }
}

.heading-tertiary {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  font-family: $headers-font;
  color: rgba($color: $color-secondary, $alpha: 0.4);
  color: $color-secondary;
  position: relative;
  margin-bottom: 1.5rem;
}

.paragragh-text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  width: 100%;
  color: rgba($color: $color-secondary, $alpha: 0.7);
  margin-bottom: 2rem;

  @media screen and (max-width: $large-bp) {
    font-size: 1.8rem;
  }

  &--center {
    font-size: 1.8rem;
    text-align: center;
    width: 70%;
    margin-bottom: 4rem;

    @media screen and (max-width: $large-bp) {
      width: 100%;
    }
  }
}
