//Font Specs
$main-font: "krub", "sans-serif";
$headers-font: "rubik", "open-sans";
// $headers-font: "Lato", "open-sans";
// $headers-font: "Nunito", "open-sans";
// $headers-font: "Montserrat", "open-sans";
$default-font-size: 1.6rem;

//color specs
$color-white: #ffffff;
$color-primary: #184981;
$color-secondary: #06103a;
$color-tertiary: #5c94a9;
$color-tertiary-2: #cb9fcb;
