//Font Specs
$main-font: "Nunito", "sans-serif";
$headers-font: "Inter", "open-sans";
$default-font-size: 1.6rem;

//color specs
$color-white: #fff;
$color-white-bg: #fff;

$color-primary: #184981;
$color-primary: #174e9a;

$color-secondary: #06103a;
$color-secondary: #333;

// Color variables
$primary-blue: #0f4c81;

$accent-purple: #cb9fcb;
$white: #ffffff;
$text-dark: #333333;

//break points
$small-bp: 479px;
$medium-bp: 770px;
$large-bp: 991px;
$extra-large-bp: 1200px;
