.header {
  position: relative;
  background-color: #ffffff;

  &_container {
    width: 100%;

    @media screen and (max-width: $medium-bp) {
      padding: 0;
    }
  }

  &_mobile {
    display: none;

    @media screen and (max-width: $extra-large-bp) {
      display: block;
    }
  }

  &_navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &_logo_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    transform: translateY(1rem);
  }

  &_top-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: $primary-blue;
    color: $white;

    @media screen and (max-width: $extra-large-bp) {
      display: none;
    }

    &_left {
      align-self: flex-start;
    }

    &_right {
      width: 10%;
      margin-right: 4rem;
      .icon-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      i {
        // width: 3.6rem;
        // height: 3.6rem;
        font-size: 1.6rem;
        color: $color-white;

        &:hover {
          color: $accent-purple;
        }
      }
    }
  }

  &_top-bar.scroll {
    display: none;
  }

  &_img {
    max-width: 18rem;
    img {
      display: inline-block;
      transform: scale(1.6);
      z-index: 11111;
      width: 100%;
      overflow: hidden;
      //   height: 70%;
      // vertical-align: middle;
    }
  }

  &_top,
  &_bottom {
    display: flex;

    @media screen and (max-width: $extra-large-bp) {
      display: none;
    }
  }

  &_top {
    background-color: #f5f5f5;
    padding: 0 4rem;
  }

  &_bottom {
    background-color: $text-dark;
    padding: 0 12rem;
  }

  &_controls {
    &_nav {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      list-style: none;
      padding: 0 1rem;
      font-family: $headers-font;

      &-item {
        color: $color-secondary;

        &:nth-child(n + 2) {
          border-left: 1.5px solid rgba($color: #111, $alpha: 0.3);
        }
      }

      &-link {
        color: $color-secondary;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2rem;
        font-size: 1.4rem;

        i {
          font-size: 3rem;
          color: $color-primary;
          // font-weight: 400;
          width: 3.6rem;
          height: 3.6rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &--1 {
          i {
            font-size: 1.6rem;
            color: $color-white;
          }
        }

        &:hover {
          color: $color-primary;
        }
      }

      &-text {
        margin-left: 1.5rem;
        font-size: 1.3rem;
        line-height: 1.3;
      }

      &-main {
        font-size: 1.4rem;
        &--white {
          color: $white;
        }
      }

      &-sec {
        color: $text-dark;
        color: $primary-blue;
        font-weight: 700;
        border-bottom: 1px solid transparent;
        &--1 {
          color: $color-white;
        }
      }
    }
  }

  &_nav {
    z-index: 100;
    padding-left: 1rem;
    &-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      list-style: none;
      margin-right: 2rem;
    }

    &-item {
      position: relative;

      &_sub-menu {
        list-style: none;
        min-width: 25rem;
        position: absolute;
        top: 100%;
        background-color: $text-dark;
        // border-bottom: 2px solid $color-primary;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
        li {
          a {
            display: flex;
            align-items: center;
            justify-self: center;
            color: $white;
            font-size: 1.5rem;
            // font-weight: 600;
            font-family: $main-font;
            text-transform: capitalize;
            text-decoration: none;
            padding: 1.5rem;
            border-bottom: 1px solid rgba($color: #fff, $alpha: 0.3);
            position: relative;
            z-index: 100;
            overflow: hidden;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 5px;
              height: 100%;
              background-color: $white;
              opacity: 0;
              visibility: hidden;
              transition: all 0.3s;
            }

            &:hover {
              color: $text-dark;

              &::before {
                opacity: 1;
                visibility: visible;
                width: 100%;
                z-index: -1;
              }
            }
          }
        }
      }

      // &:not(:last-child) {
      //   border-right: 1px solid $color-white;
      // }
      &:hover {
        .header_nav-item_sub-menu {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &-link {
      position: relative;
      display: inline-block;
      padding: 1rem 2rem;
      text-transform: capitalize;
      text-align: center;
      font-weight: 600;
      font-size: 1.5rem;
      text-decoration: none;
      transition: all 0.2s;
      font-family: $main-font;
      display: flex;
      align-items: center;
      color: $white;
      // color: $text-dark;

      span {
        text-align: center;
        font-size: 1.8rem;
        margin-left: 0.4rem;
        transition: all 0.2s;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 0px;
        height: 2px;
        background-color: $color-white;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        transition: all 0.2s;
      }

      &:hover {
        span {
          transform: rotate(130deg);
        }
        &::before {
          width: 75%;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &_cta {
    margin-right: 2rem;
    display: flex;
    align-items: center;

    @media screen and (max-width: $extra-large-bp) {
      margin-top: 1rem;
    }

    i {
      font-size: 2rem;
      color: $color-primary;
    }

    .btn.btn--2 {
      background-color: $primary-blue;
      color: $white;
      padding: 1rem 2rem;
      // @include hover-transition;

      &:hover {
        background-color: $primary-blue;
      }
    }
  }
}

.sidebar {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &_news,
  &_join {
    width: 100%;
    padding: 3rem;
    border-radius: 6px;
    background-color: $color-white;
    padding-bottom: 1.5rem;
    margin-bottom: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    &_header {
      align-self: self-start;
      // padding-left: 1rem;
      font-size: 2.2rem;
      margin-bottom: 3rem;
    }
  }

  &_news {
    margin-top: 2rem;
  }
}
