.header {
  position: relative;
  background-color: #ffffff;

  &_container {
    width: 100%;

    @media screen and (max-width: $medium-bp) {
      padding: 0;
    }
  }

  &_mobile {
    display: none;
    @media screen and (max-width: $extra-large-bp) {
      display: block;
    }
  }

  &_navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &_logo_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    transform: translateY(1rem);
  }

  &_img {
    max-width: 18rem;
    // overflow: hidden;
    img {
      display: inline-block;
      transform: scale(2);
      z-index: 11111;
      width: 100%;
      overflow: hidden;
    }
  }

  &_top,
  &_bottom {
    display: flex;

    @media screen and (max-width: $extra-large-bp) {
      display: none;
    }
  }

  &_top {
    background-color: #f5f5f5;
    padding: 2rem 4rem;
  }

  &_bottom {
    background-color: $color-secondary;
    padding: 1rem 12rem;
  }

  &_controls {
    // padding-right: 2rem;
    &_nav {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      list-style: none;
      padding: 0 1rem;
      // padding-right: 2rem;
      font-family: $headers-font;

      &-item {
        color: $color-secondary;
        // margin-left: 2rem;

        &:nth-child(n + 2) {
          border-left: 1.5px solid rgba($color: #111, $alpha: 0.3);
        }
      }

      &-link {
        color: $color-secondary;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 2rem;
        font-size: 1.4rem;

        i {
          font-size: 3rem;
          color: $color-primary;
          // font-weight: 400;
          width: 3.6rem;
          height: 3.6rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &--1 {
          i {
            font-size: 1.6rem;
            color: $color-white;
          }
        }

        &:hover {
          color: $color-primary;
        }
      }

      &-text {
        margin-left: 1.5rem;
        // font-size: 1.3rem;
        line-height: 1.3;
      }

      &-main {
        font-size: 1.4rem;

        &--white {
          color: $color-white;
        }
      }

      &-sec {
        color: $color-primary;
        font-weight: 700;
        border-bottom: 1px solid transparent;

        &--1 {
          color: $color-white;
        }
      }
    }
  }

  &_nav {
    z-index: 100;
    padding-left: 1rem;
    &-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      list-style: none;
      margin-right: 2rem;
    }

    &-item {
      position: relative;

      &_sub-menu {
        list-style: none;
        min-width: 25rem;
        position: absolute;
        top: 100%;
        background-color: $color-secondary;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
        li {
          a {
            display: flex;
            align-items: center;
            justify-self: center;
            color: $color-white;
            font-size: 1.5rem;
            font-family: $main-font;
            text-transform: capitalize;
            text-decoration: none;
            padding: 1.5rem;
            border-bottom: 1px solid rgba($color: #fff, $alpha: 0.3);
            position: relative;
            z-index: 100;
            overflow: hidden;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 5px;
              height: 100%;
              background-color: $color-white;
              opacity: 0;
              visibility: hidden;
              transition: all 0.3s;
            }

            &:hover {
              color: $color-secondary;

              &::before {
                opacity: 1;
                visibility: visible;
                width: 100%;
                z-index: -1;
              }
            }
          }
        }
      }

      &:hover {
        .header_nav-item_sub-menu {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &-link {
      position: relative;
      display: inline-block;
      padding: 1rem 2rem;
      text-transform: capitalize;
      text-align: center;
      color: $color-white;
      font-weight: 600;
      font-size: 1.5rem;
      text-decoration: none;
      transition: all 0.2s;
      font-family: $main-font;
      display: flex;
      align-items: center;

      span {
        text-align: center;
        font-size: 1.8rem;
        margin-left: 0.4rem;
        transition: all 0.2s;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 0px;
        height: 2px;
        background-color: $color-white;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        transition: all 0.2s;
      }

      &:hover {
        span {
          transform: rotate(130deg);
        }
        &::before {
          width: 75%;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &_cta {
    margin-right: 2rem;
    display: flex;
    align-items: center;

    @media screen and (max-width: $extra-large-bp) {
      margin-top: 1rem;
    }

    i {
      font-size: 2rem;
      color: $color-primary;
    }

    .btn.btn--2 {
      background-color: $color-primary;
      color: $color-white;
      padding: 1rem 2rem;
      // @include hover-transition;

      &:hover {
        background-color: $color-primary;
      }
    }
  }
}
