.heading-main {
  font-size: 6rem;
  // text-transform: uppercase;
  line-height: 1;
  margin-bottom: 4rem;
  // color: $color-primary;
  font-family: $headers-font;
  font-weight: 700;

  span {
    background-color: $color-primary;
    padding: 0.5rem 1rem;
    // border-radius: 0.5rem;
  }

  @media screen and (max-width: $small-bp) {
    text-align: center;
    // letter-spacing: -0.5px;
    word-break: break-all;
  }
  // text-transform: uppercase;
}

.heading-secondary {
  font-size: 4rem;
  font-family: $headers-font;
  font-weight: 900;
  color: $color-secondary;
  // color: $color-secondary;
  line-height: 1.1;
  // letter-spacing: -0.2rem;
  margin-bottom: 4rem;
  // margin-top: -1rem;
  // margin-right: auto;

  span {
    display: inline-block;
    text-transform: uppercase;
    color: $color-primary;
  }

  // span::first-letter {
  //   display: inline-block;
  //   font-size: 8rem;
  //   color: $color-primary;
  // }

  &--1 {
    color: $color-white;
  }

  &--2 {
    // font-size: 5.2rem;
    width: 75%;
    text-transform: uppercase;
  }
}

.heading-tertiary {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  font-family: $headers-font;
  color: rgba($color: $color-secondary, $alpha: 0.4);
  color: $color-secondary;
  position: relative;
  margin-bottom: 1.5rem;

  &--1 {
    color: rgba($color: $color-white, $alpha: 0.4);
  }

  &--no-border {
    font-size: 3.2rem;
    margin-bottom: 0;
    padding: 2rem;
    padding-bottom: 0;
  }
}

.paragragh-text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  width: 100%;
  color: rgba($color: $color-secondary, $alpha: 0.7);
  margin-bottom: 2rem;

  @media screen and (max-width: $large-bp) {
    font-size: 1.8rem;
  }

  &--center {
    font-size: 1.8rem;
    text-align: center;
    width: 70%;
    margin-bottom: 4rem;

    @media screen and (max-width: $large-bp) {
      width: 100%;
    }
  }

  span {
    color: $color-primary;
    font-weight: 700;
  }

  &--white {
    color: $color-white;
  }
}
