.btn {
  cursor: pointer;
  display: inline-block;
  padding: 2rem 3rem;
  text-transform: uppercase;
  text-align: center;
  color: $color-white;
  background-color: $color-primary;
  font-weight: 600;
  font-size: 1.4rem;
  font-family: $headers-font;
  text-decoration: none;
  overflow: hidden;
  border: 0;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 100%;
    background-color: $color-secondary;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: 0.3s;
  }

  &--vacancy {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: $color-secondary;
    font-size: 1.6rem;
    font-weight: 800;
    text-transform: capitalize;

    &::before {
      width: 8px;
      height: 70%;
      background-color: $color-primary;
    }

    i {
      margin-left: 1rem;
    }

    &:hover {
      color: $color-white;
    }
  }

  &:hover {
    &::before {
      width: 90%;
      opacity: 1;
      visibility: visible;
    }
  }

  &_submit {
    width: 50%;
  }

  &--2 {
    background-color: $color-secondary;

    &:hover {
      &::before {
        background-color: $color-primary;
      }
    }
  }
}

.btn-container {
  width: 100%;
  text-align: center;

  &-1 {
    text-align: right;
  }

  &-service {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
  }
}
