.motto {
  width: 100%;
  padding: 6rem;
  background-image: linear-gradient(
    50deg,
    rgb(107, 164, 184),
    rgb(15, 76, 129)
  );
  color: $color-white;
  font-family: $headers-font;
  font-size: 3.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 900;
  // letter-spacing: 1px;
  line-height: 3.8rem;
  text-transform: uppercase;

  &--white {
    background-image: linear-gradient(
      50deg,
      rgb(256, 256, 256),
      rgb(256, 256, 256)
    );
    color: $color-secondary;
  }

  @media screen and (max-width: $small-bp) {
    padding: 10rem 2rem;
  }
}
