.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: $large-bp) {
    flex-direction: column;
  }

  &--cta {
    margin-top: 6rem;
  }

  &_group {
    width: 48%;
    position: relative;

    @media screen and (max-width: $large-bp) {
      width: 100%;
    }

    &--1 {
      width: 100%;
      margin-bottom: 1rem;
    }

    textarea {
      width: 100%;
      background-color: inherit;
      border: 1px solid rgba($color: $color-secondary, $alpha: 0.4);
      color: $color-secondary;
      outline: none;
      padding: 1rem 2rem;
      font-size: 1.6rem;
      font-weight: 400;

      &::placeholder {
        color: inherit;
        font-weight: 400;
        font-family: $main-font;
      }

      &:hover {
        background-color: rgba(#eee, 0.4);
      }

      &:focus {
        border: 2px solid $color-secondary;
      }
    }
  }

  i {
    position: absolute;
    top: 37%;
    right: 3rem;
    transform: translateY(-50%);
    color: $color-primary;
  }

  &_input {
    display: block;
    padding: 2rem;
    width: 100%;
    color: $color-secondary;
    font-size: 1.6rem;
    font-weight: 400;
    font-family: $main-font;
    outline: none;
    margin-bottom: 2rem;

    &--footer {
      height: 5rem;
    }

    border: 1px solid rgba($color: $color-secondary, $alpha: 0.4);

    &::placeholder {
      color: rgba($color: $color-secondary, $alpha: 0.5);
      color: inherit;
    }

    &:hover {
      background-color: rgba(#eee, 0.4);
    }

    &:focus {
      border: 2px solid $color-secondary;
    }
  }
}

/* Hide the default up and down arrow icons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Optional */
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
