.motto {
  width: 100%;
  padding: 10rem 6rem;
  background-color: $color-secondary;
  color: $color-white;
  font-family: $headers-font;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  text-transform: capitalize;
  text-align: center;

  @media screen and (max-width: $small-bp) {
    padding: 10rem 2rem;
  }

  &--white {
    color: $color-secondary;
    background-color: $color-white;
  }
}
