.btn {
  cursor: pointer;
  display: inline-block;
  padding: 2rem 3rem;
  text-transform: uppercase;
  text-align: center;
  color: $color-white;
  background-color: $color-primary;
  font-weight: 600;
  font-size: 1.4rem;
  font-family: $headers-font;
  text-decoration: none;
  overflow: hidden;
  border: 0;
  position: relative;
  z-index: 1;
  border-radius: 0.6rem;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 100%;
    border-radius: 0;
    background-color: $color-secondary;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: 0.3s;
  }

  &:hover {
    &::before {
      width: 90%;
      opacity: 1;
      visibility: visible;
    }
  }

  &_submit {
    width: 100%;
    z-index: 1000;

    &::before {
      background-color: $color-primary !important;
    }

    &:hover {
      color: $color-white;
      z-index: 999;
    }
  }

  &-1 {
    width: 45%;
    font-size: $default-font-size;
    animation: slideRight2 2s;
  }

  &--2 {
    background-color: $color-primary;
    padding: 1.5rem 2rem;
    width: 25%;

    &:hover::before {
      background-color: $color-secondary;
    }
  }

  &-service {
    // display: none;
    // width: 30%;
    padding: 0.5rem 2rem;
    background-color: inherit;
    border: 1px solid $color-secondary;
    color: $color-secondary;
    letter-spacing: 1px;

    &:hover {
      color: $color-white;
    }

    &:hover::before {
      background-color: $color-secondary;
    }
  }
}

.btn-container {
  width: 100%;

  &-1 {
    text-align: right;
  }

  &-service {
    margin-top: 1rem;
    width: 100%;
    // position: absolute;
    // top: 16.7rem;
    // right: 0;
    // text-align: end;
  }
}
