// Variables for customization
$hamburger-size: 2.5rem;
$line-width: 2.5rem;
$line-height: 4px;
$transition-duration: 0.3s;
$hover-translate: 2px; // Adjust the amount of translation on hover

// Hamburger menu styling
.header_cta-menu {
  width: $hamburger-size;
  height: $hamburger-size;
  margin-right: 2rem;
  position: relative;
  cursor: pointer;
  z-index: 100;

  span {
    color: $color-white;
    display: block;
    position: absolute;
    width: $line-width;
    height: $line-height;
    background-color: $color-white;
    border-radius: $line-width;
    transition: transform $transition-duration;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(3) {
      bottom: 0;
    }
  }
  &:hover {
    span:nth-child(1) {
      transform: translateY($hover-translate);
    }

    span:nth-child(3) {
      transform: translateY(-2.3px);
    }
  }
}
