.owner-box {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 3rem;

  @media screen and (max-width: $medium-bp) {
    margin-right: 0;
    margin-left: 0;
    margin-top: 4rem;
  }
}

.img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;

  img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
  }
}

.text-box {
  line-height: 1.2;
  color: $color-secondary;
  h3 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.4rem;
    font-weight: 500;
  }
}
