.step {
  //applying new idea
  width: 60%;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f7f1;
  background-color: #f5f5f5;
  margin-bottom: 3rem;
  border: 2px solid transparent;
  transition: transform 0.3s ease, border 0.3s;
  z-index: 1;

  @media screen and (max-width: $extra-large-bp) {
    width: 100%;
  }

  @media screen and (max-width: $small-bp) {
    flex-direction: column;
    padding: 2.5rem;
  }

  &--right1 {
    transform: translateX(18%);

    @media screen and (max-width: $extra-large-bp) {
      transform: translateX(0);
    }
  }

  &--right2 {
    transform: translateX(43%);

    @media screen and (max-width: $extra-large-bp) {
      transform: translateX(0);
    }
  }

  &--right3 {
    transform: translateX(65%);

    @media screen and (max-width: $extra-large-bp) {
      transform: translateX(0);
    }
  }

  &_header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &_logo {
    width: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;

    img {
      display: inline-block;
      max-width: 100%;
      object-fit: cover;
    }

    @media screen and (max-width: $small-bp) {
      margin-left: 0;
      margin-top: 2rem;
      width: 12rem;
    }
  }

  &_title {
    font-size: 1.8rem;
    font-family: $headers-font;
  }

  &_desc {
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    padding: 1rem;
    color: rgba($color: $color-secondary, $alpha: 0.9);

    @media screen and (max-width: $small-bp) {
      font-size: 1.6rem;
    }
  }

  &_num {
    font-size: 1.6rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    color: $color-white;
    background-color: $color-primary;
  }

  &:hover {
    border: 2px solid $color-primary;
  }
}
