.step {
  //applying new idea
  width: 60%;
  // width: 29rem;
  // height: 29rem;
  padding: 1.5rem;
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  // border-radius: 50%;
  background-color: #f6f7f1;
  background-color: #f5f5f5;
  margin-bottom: 3rem;
  border: 2px solid transparent;
  transition: transform 0.3s ease, border 0.3s;
  // position: relative;
  z-index: 1;

  @media screen and (max-width: $extra-large-bp) {
    // flex-direction: column;
    width: 100%;
  }

  @media screen and (max-width: $small-bp) {
    flex-direction: column;
    padding: 2.5rem;
  }

  &--right1 {
    transform: translateX(18%);

    @media screen and (max-width: $extra-large-bp) {
      transform: translateX(0);
    }
  }

  &--right2 {
    transform: translateX(43%);

    @media screen and (max-width: $extra-large-bp) {
      transform: translateX(0);
    }
  }

  &--right3 {
    transform: translateX(65%);

    @media screen and (max-width: $extra-large-bp) {
      transform: translateX(0);
    }
  }

  &_header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  // @media screen and (max-width: $extra-large-bp) {
  //   width: 32rem;
  //   height: 32rem;
  // }

  &_logo {
    width: 14rem;
    // height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-bottom: 2rem;
    margin-left: 4rem;

    img {
      display: inline-block;
      max-width: 100%;
      object-fit: cover;
    }

    @media screen and (max-width: $small-bp) {
      margin-left: 0;
      margin-top: 2rem;
      width: 12rem;
    }
  }

  &_title {
    font-size: 1.8rem;
    font-family: $headers-font;
  }

  &_desc {
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    padding: 1rem;
    color: rgba($color: $color-secondary, $alpha: 0.9);

    @media screen and (max-width: $small-bp) {
      font-size: 1.6rem;
    }

    // &--1 {
    //   text-align: center;
    //   padding: 0;
    // }
  }

  &_num {
    font-size: 1.6rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    // border-radius: 50%;
    color: $color-white;
    background-color: $color-primary;
    // transform: translate(-11rem, -19rem);
  }

  &:hover {
    // transform: translateY(-1rem);
    border: 2px solid $color-primary;
  }

  // &--down1,
  // &--down2 {
  //   // transform: translateY(3rem);
  //   margin-top: 3rem;
  // }

  // &--down3 {
  //   // transform: translateY(6rem);
  //   margin-top: 6rem;
  // }
}

// Define a mixin for the dotted line
// @mixin dotted-line($color: $color-primary, $thickness: 3px, $spacing: 5px) {
//   content: "";
//   position: absolute;
//   width: 37%;
//   height: 38%;
//   border: $thickness dotted $color;
//   top: 76%;
//   transform: translateY(-74%);
//   z-index: 0;

//   @media screen and (max-width: $extra-large-bp) {
//     display: none;
//   }
//   // pointer-events: none;

//   // Adjust spacing between dots
//   &:after {
//     content: "";
//     display: block;
//     width: $spacing;
//     height: 0;
//   }
// }

// // Apply the dotted line to a specific element or the entire page
// .dotted-line {
//   position: relative;

//   // Call the mixin to create the dotted line
//   &::after {
//     @include dotted-line($color: black, $thickness: 3px, $spacing: 15px);
//   }
// }
