.heading-main {
  font-size: 7.2rem;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 4rem;
  font-family: $headers-font;
  font-weight: 600;
  animation: slideRight2 4s;

  @media screen and (max-width: $large-bp) {
    font-size: 6rem;
  }

  @media screen and (max-width: $medium-bp) {
    font-size: 5.2rem;
    letter-spacing: -1.5px;
  }
}

.heading-secondary {
  font-size: 6rem;
  font-family: $headers-font;
  font-weight: 600;
  color: $text-dark;
  line-height: 1.1;
  margin-bottom: 4rem;

  span {
    color: $primary-blue;
  }

  &--1 {
    color: $color-white;
  }

  &--2 {
    width: 100%;
    margin-bottom: 3rem;
    text-transform: uppercase;
  }

  @media screen and (max-width: $large-bp) {
    font-size: 4rem;
  }
}

.heading-tertiary {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: $headers-font;
  color: rgba($color: $text-dark, $alpha: 0.4);
  position: relative;
  border-bottom: 5px solid $text-dark;
  margin-bottom: 1.5rem;

  &--1 {
    color: rgba($color: $color-white, $alpha: 0.4);
    border-bottom: 5px solid $color-white;
  }
}

.paragragh-text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  width: 100%;
  color: rgba($color: $text-dark, $alpha: 0.9);
  margin-bottom: 2rem;

  @media screen and (max-width: $large-bp) {
    font-size: 1.8rem;
  }

  &--center {
    text-align: center;
    width: 70%;

    @media screen and (max-width: $large-bp) {
      width: 90%;
    }
  }

  &--white {
    color: $white;
  }

  span {
    color: $color-primary;
    font-weight: 700;
  }
}
