.u-center-text {
  text-align: center;
}

.middle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--1 {
    width: 90%;
  }
}

.mv-right {
  transform: translateX(0) !important;
}

.rm-2 {
  margin-right: 2rem;
}

.sm-m-2 {
  margin-top: 6rem;
}

.sm-m-4 {
  margin-top: 12rem;
}
