.middle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: $medium-bp) {
    flex-direction: column;
  }
}

.rm-2 {
  margin-right: 2rem;
}

.no-border {
  border: none !important;
}
