.heading-main {
  font-size: 7.2rem;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 4rem;
  color: $color-white;
  font-family: $headers-font;
  font-weight: 700;
}

.heading-secondary {
  font-size: 5.2rem;
  font-family: $headers-font;
  font-weight: 700;
  color: $color-secondary;
  line-height: 1.1;
  margin-bottom: 4rem;
}

.heading-tertiary {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: $headers-font;
  color: rgba($color: $color-secondary, $alpha: 0.4);
  position: relative;
  margin-bottom: 1.5rem;
}

.paragragh-text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  width: 100%;
  color: rgba($color: $color-secondary, $alpha: 0.7);
  margin-bottom: 2rem;

  @media screen and (max-width: $large-bp) {
    font-size: 1.8rem;
  }

  &--white {
    color: $color-white;
  }

  &--w7 {
    width: 70%;

    @media screen and (max-width: $large-bp) {
      width: 100%;
    }
  }
}
