//Font Specs
$main-font: "krub", "sans-serif";
$main-font: "PT Sans", "sans-serif";
$main-font: "Nunito", "sans-serif";
$headers-font: "Montserrat", "open-sans";
$headers-font: "Inter", "open-sans";
$default-font-size: 1.6rem;

//color specs
$color-white: #fff;
$color-white-bg: #fff;
$color-primary: #0f4c81;
$color-secondary: #333;

//break points
$small-bp: 479px;
$medium-bp: 770px;
$large-bp: 991px;
$extra-large-bp: 1200px;
