.section-aside {
  position: fixed;
  top: 0;
  right: -30rem;
  width: 10rem;
  height: 100%;
  overflow-y: auto;
  background-color: $color-primary;
  z-index: 999;
  transition: all 0.3s;

  &_close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span {
      position: absolute;
      width: 2.4rem;
      height: 2px;
      opacity: 0.5;
      transition: all 0.3s;
      background-color: $color-white;

      &:first-child {
        transform: rotate(45deg);
      }

      &:last-child {
        transform: rotate(135deg);
      }
    }

    &:hover {
      span:first-child {
        transform: rotate(0deg);
      }

      span:last-child {
        transform: rotate(180deg);
      }
    }
  }
}

.active {
  right: 0;
  width: 45rem;
  transition: all 0.3s;
}

.section-main {
  width: 100%;
  height: 90rem;
  position: relative;
  margin-top: -8rem;
  // margin-bottom: 5rem;
}

.section-about {
  width: 100%;
  // height: 55rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2rem;
  padding-left: 3rem;
  // padding-top: 1rem;
  margin-top: -1rem;
  background-color: $color-white;
  background-image: linear-gradient(
      to right bottom,
      $color-white,
      rgba($color-white, 0.6)
    ),
    url(../../imgs/section-about/img-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  // background-color: #f6f7f9;
  // &_left {
  //   width: 40%;
  //   // height: 100%;
  //   position: relative;
  //   padding-left: 2rem;
  //   display: flex;
  //   align-items: center;
  //   overflow: hidden;
  //   // background-color: rgba($color: $color-primary, $alpha: 1);

  //   // &::before {
  //   //   content: "";
  //   //   position: absolute;
  //   //   top: 25%;
  //   //   right: 0;
  //   //   width: 40rem;
  //   //   height: 52rem;
  //   //   padding: 0;
  //   //   background-color: $color-white;
  //   //   border: 10px solid rgba($color: $color-primary, $alpha: 1);
  //   // }

  //   &_info {
  //     display: inline-block;
  //     font-size: 1.8rem;
  //     text-transform: uppercase;
  //     background-color: $color-primary;
  //     padding: 1rem;
  //     width: 50%;
  //     color: $color-white;
  //     position: absolute;
  //     top: 20%;
  //     left: 53%;
  //     z-index: 1000;
  //   }

  //   &_img {
  //     display: inline-block;
  //     width: 100%;
  //     height: 70%;
  //     position: relative;
  //     vertical-align: middle;
  //     border-radius: 0.6rem;
  //     // margin-left: 10rem;
  //     // border-right: 6px solid $color-primary;
  //     box-shadow: 0px 3px 10px rgba($color: $color-secondary, $alpha: 0.6);
  //   }
  // }

  &_right {
    width: 70%;
    // padding: 3rem;

    &_desc {
      display: inline-block;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.7;
      width: 80%;
      padding-left: 2rem;
      border-left: 3px solid $color-primary;
      // font-weight: 700;
      color: rgba($color: $color-secondary, $alpha: 1);
      margin-bottom: 3rem;
      // padding-left: 1.5rem;
      // border-left: 6px solid $color-primary;

      // &:not(:last-child) {
      //   border-bottom: 2px solid red;
      // }
    }
  }
}

.section-about-2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  // margin-bottom: 6rem;
  // margin-top: -4rem;
  // margin-top: 2rem;
  padding-left: 10rem;
  // background-image: linear-gradient(
  //   to right bottom,
  //   rgba($color-secondary, 0.3),
  //   $color-white
  // );
}

.section-about-3 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 80rem;
  padding: 5rem 3rem;
  background-image: linear-gradient(
      to bottom,
      $color-primary,
      rgba($color-primary, 0.6)
    ),
    url(../../imgs/section-about/fredrick-f-U9_pRASawlc-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // display: flex;
  // align-items: center;
  // justify-content: center;

  &_top {
    text-align: center;
    margin-bottom: 3rem;
  }

  &_bottom {
    width: 100%;
    padding: 5rem 1rem;
    display: flex;
    justify-content: center;

    &_left,
    &_right {
      display: flex;
      flex-direction: column;
    }

    &_left {
      align-items: self-start;
    }

    &_right {
      align-items: self-end;
    }
  }
}

.section-services {
  width: 100%;
  height: 100%;
  padding: 5rem 3rem;
  // margin-bottom: 5rem;
  // background-image: linear-gradient(
  //     to bottom right,
  //     rgba(#111, 0.85),
  //     rgba(#111, 0.85)
  //   ),
  //   url(../../imgs/section-about/img-1.jpg);

  // background-size: cover;
  // background-repeat: no-repeat;
  background-color: #f6f7f9;
  background-color: $color-white;

  // background-image: linear-gradient(
  //   to bottom right,
  //   $color-white,
  //   rgba($color-primary, 0.3)
  // );
  &_top {
    width: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    margin-bottom: 1.5rem;

    &_heading {
      color: $color-primary;
      width: 50%;

      &_desc {
        display: inline-block;
        font-size: 1.6rem;
        line-height: 1.4;
        color: $color-secondary;
        margin-bottom: 3rem;
      }
    }
  }

  &_bottom {
    // width: 100%;
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0rem 1rem;

    .img-container {
      width: 100%;
      height: 20rem;
      margin-bottom: 1rem;
      overflow: hidden;
      transform-origin: center;
      will-change: transform;
      overflow: hidden;
      position: relative;
      &::after {
        content: "";
        // display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 0%,
          rgba(3, 3, 3, 0.5) 95%,
          rgba(3, 3, 3, 0.8) 100%
        );
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.7s ease;
        overflow: hidden;
        transform-origin: center;
        will-change: transform;
        // filter: brightness(90%);
        // overflow: hidden;
      }
    }
  }
}

.section-steps {
  width: 100%;
  height: 100%;
  padding: 5rem 3rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &_top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;

    &_desc {
      // position: absolute;
      // top: 40%;
      // right: 4rem;
      width: 60%;
      // padding: 1rem;
      color: $color-secondary;
      // background-color: #f6f7f9;
      // // background-color: rgba($color: $color-primary, $alpha: 0.5);
      // // padding: 1rem;
      // clip-path: polygon(50% 38%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);

      text-align: center;
    }
  }

  &_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
  }
}

.section-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 5rem;
  width: 100%;
  // height: 30rem;
  background-color: $color-primary;

  &_left {
    width: 30%;
    padding: 1rem;
    &_top {
      color: $color-white;
      margin-bottom: 6rem;

      .heading-secondary,
      .heading-tertiary {
        color: $color-white;
      }

      .heading-secondary {
        margin-bottom: 2rem;
      }
    }

    &_bottom {
      width: 100%;
      color: $color-white;
    }
  }

  &_right {
  }
}
