.section-aside {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  backface-visibility: hidden;
  background-color: $color-white;
  z-index: 9999;
  transition: all 0.3s;

  &_img {
    width: 20rem;
    // overflow: hidden;
    transform: scale(1.6);
  }

  &_close {
    position: absolute;
    top: 4rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2.4rem;
    // span {
    //   position: absolute;
    //   width: 2.4rem;
    //   height: 2px;
    //   opacity: 0.5;
    //   transition: all 0.3s;
    //   background-color: $color-white;

    //   &:first-child {
    //     transform: rotate(45deg);
    //   }

    //   &:last-child {
    //     transform: rotate(135deg);
    //   }
    // }

    // &:hover {
    //   span:first-child {
    //     transform: rotate(0deg);
    //   }

    //   span:last-child {
    //     transform: rotate(180deg);
    //   }
    // }
  }

  .navigation {
    width: 100%;
    border-bottom: 1px solid #eee;
  }

  &_contact {
    width: 100%;
    padding: 2rem;
    // margin-top: 2rem;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $large-bp) {
      flex-direction: column;
    }

    &-wrapper {
      width: 32%;
      margin: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and (max-width: $large-bp) {
        width: 80%;
      }
    }

    &_icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;
      background-color: $color-primary;

      i {
        font-size: 2rem;
        color: $color-white;
      }
    }

    &-info {
      font-size: 1.8rem;
      color: $color-secondary;
      font-weight: 700;
    }
  }

  &_socials {
    width: 100%;
    padding: 2rem 4rem;
    // margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;

      li {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          width: 6rem;
          height: 6rem;
          background-color: $color-white;
          border: 1px solid $color-primary;

          i {
            font-size: 2.4rem;
            color: $color-primary;
          }
        }
      }
    }
  }
}

.section-aside-open {
  right: 0;
}

.section-main {
  width: 100%;
  // height: 90rem;
  position: relative;
  // margin-top: -8rem;
  margin-bottom: 4rem;

  @media screen and (max-width: $large-bp) {
    height: 95vh;
    margin-bottom: 0;
  }

  @media screen and (max-width: $small-bp) {
    height: 100vh;
  }
}

.section-values,
.section-certificates {
  width: 100%;
  padding: 8rem 4rem;
  margin-top: -12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $color-white-bg;

  @media screen and (max-width: $large-bp) {
    padding: 6rem 2rem;
    margin-top: 4rem;
  }

  @media screen and (max-width: $small-bp) {
    padding: 4rem 2rem;
    margin-top: 0rem;
  }

  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &_heading {
    margin-bottom: 2rem;
  }
}
.section-values {
  @media screen and (max-width: $small-bp) {
    padding-bottom: 0;
    // margin-top: rem;
    // margin-top: 100rem;
    &_wrapper {
      flex-direction: column;
      // align-items: center;
    }
  }
}

.section-about {
  width: 100%;
  // height: auto;
  // height: 55rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8rem 4rem;
  margin-bottom: 4rem;
  background-color: $color-white-bg;

  @media screen and (max-width: $large-bp) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 6rem 2rem;
  }

  // background-color: #f6f7f9;

  &_left {
    width: 50%;
    // height: 100%;
    // background-color: $color-secondary;
    height: 55rem;
    padding: 1rem 3rem;

    @media screen and (max-width: $large-bp) {
      width: 100%;
      // height: 100%;
      // height: 40rem;
      padding: 0;
    }
    // position: relative;
    // padding-left: 2rem;
    // display: flex;
    // align-items: center;
    // overflow: hidden;
    // background-color: rgba($color: $color-primary, $alpha: 1);

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 25%;
    //   right: 0;
    //   width: 40rem;
    //   height: 52rem;
    //   padding: 0;
    //   background-color: $color-white;
    //   border: 10px solid rgba($color: $color-primary, $alpha: 1);
    // }

    &_info {
      display: inline-block;
      font-size: 1.8rem;
      text-transform: uppercase;
      background-color: $color-primary;
      padding: 1rem;
      width: 50%;
      color: $color-white;
      position: absolute;
      top: 20%;
      left: 53%;
      z-index: 1000;
    }

    &_img-container {
      // display: inline-block;
      width: 100%;
      height: 100%;
      position: relative;
      // border-radius: 0.6rem;
      // margin-left: 10rem;
      // border-right: 6px solid $color-primary;

      @media screen and (max-width: $large-bp) {
        margin-bottom: 2rem;
      }

      .section-about_img {
        display: inline-block;
        width: 100%;
        height: 100%;
        overflow: hidden;

        @media screen and (max-width: $small-bp) {
          height: 55vh;
          margin-bottom: 2rem;
        }
        // object-fit: cover;
        // vertical-align: middle;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -30%);
        // filter: brightness(80%);
        // box-shadow: 0px 3px 10px rgba($color: $color-secondary, $alpha: 0.6);

        // &--2 {
        //   top: 60%;
        //   right: 0;
        // }
      }
    }
  }

  &_right {
    width: 60%;
    // display: flex;
    // flex-direction: column;
    // justify-content: ;
    padding-left: 3rem;

    @media screen and (max-width: $large-bp) {
      width: 85%;
      padding-left: 0;
    }

    @media screen and (max-width: $small-bp) {
      width: 100%;
    }
  }
}

// .section-about-2 {
//   width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding: 2rem 4rem;
//   // margin-bottom: 6rem;
//   // margin-top: -4rem;
//   // margin-top: 2rem;
//   padding-left: 10rem;
//   // background-image: linear-gradient(
//   //   to right bottom,
//   //   rgba($color-secondary, 0.3),
//   //   $color-white
//   // );
// }

.section-about-3 {
  position: relative;
  overflow: hidden;
  width: 100%;
  // height: 84rem;
  margin-bottom: 14rem;
  padding: 8rem 4rem;
  background-image: linear-gradient(
      to bottom,
      $color-primary,
      rgba($color-primary, 0.6)
    ),
    url(../imgs/section-about/fredrick-f-U9_pRASawlc-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (max-width: $large-bp) {
    padding: 6rem 2rem;
  }

  @media screen and (max-width: $small-bp) {
    padding: 4rem 2rem;
    margin-bottom: 8rem;
  }
  // display: flex;
  // align-items: center;
  // justify-content: center;

  &_top {
    text-align: center;
    margin-bottom: 3rem;
  }

  &_bottom {
    width: 100%;
    padding: 5rem 1rem;
    display: flex;
    justify-content: center;
    @media screen and (max-width: $small-bp) {
      flex-direction: column;
    }

    &_left,
    &_right {
      display: flex;
      flex-direction: column;
    }

    &_left {
      align-items: self-start;
    }

    &_right {
      align-items: self-end;
    }
  }
}

.section-certificates {
  width: 100%;
  height: 100%;
  // padding-bottom: 2rem;
  &_heading {
    margin-bottom: 1rem;
  }

  &_img-container {
    width: 100%;

    img {
      max-width: 100%;
    }

    @media screen and (max-width: $large-bp) {
      width: 90%;
    }
  }
}

.section-services {
  width: 100%;
  height: 100%;
  padding: 8rem 4rem;

  @media screen and (max-width: $large-bp) {
    padding: 6rem 2rem;
  }

  @media screen and (max-width: $small-bp) {
    padding: 4rem 2rem;
  }
  // margin-bottom: 5rem;
  // background-image: linear-gradient(
  //     to bottom right,
  //     rgba(#111, 0.85),
  //     rgba(#111, 0.85)
  //   ),
  //   url(../../imgs/section-about/img-1.jpg);

  // background-size: cover;
  // background-repeat: no-repeat;
  background-color: #f6f7f9;
  background-color: $color-white;
  &_top {
    width: 100%;
    // display: flex;
    // align-items: center;]
    // justify-content: space-between;
    margin-bottom: 1.5rem;

    &_heading {
      color: $color-primary;
      width: 50%;

      @media screen and (max-width: $small-bp) {
        width: 80%;
      }

      &_desc {
        display: inline-block;
        font-size: 1.6rem;
        line-height: 1.4;
        color: $color-secondary;
        margin-bottom: 3rem;
      }
    }
  }

  &_bottom {
    // width: 100%;
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 4rem;
    // padding: 0rem 1rem;

    .img-container {
      // width: 80rem;
      width: 100%;
      height: 24rem;
      // height: 100%;
      margin-bottom: 2rem;
      transform-origin: center;
      will-change: transform;
      overflow: hidden;
      position: relative;

      @media screen and (max-width: $small-bp) {
        height: 100%;
      }

      img {
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.7s ease;
        overflow: hidden;
        transform-origin: center;
        will-change: transform;
        // border-top-left-radius: 1.2rem;
        // border-top-right-radius: 1.2rem;
        // filter: brightness(90%);
        // overflow: hidden;
      }
    }
  }
}

.section-steps,
.section-news {
  width: 100%;
  height: 100%;
  padding: 8rem 4rem;
  background-color: $color-white-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  @include heroPattern;

  @media screen and (max-width: $large-bp) {
    padding: 6rem 2rem;
  }

  @media screen and (max-width: $small-bp) {
    padding: 4rem 2rem;
  }

  &_top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;

    @media screen and (max-width: $medium-bp) {
      text-align: center;
    }
  }

  &_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
  }
}

.section-steps {
  &_bottom {
    @media screen and (max-width: $large-bp) {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }
}

.section-cta {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8rem 4rem;
  width: 100%;
  // height: 100%;
  // height: 60rem;
  background-color: $color-secondary;

  @media screen and (max-width: $large-bp) {
    padding: 6rem 2rem;
    flex-direction: column;
  }

  &_left {
    width: 30%;
    padding: 1rem;

    @media screen and (max-width: $large-bp) {
      width: 100%;
    }

    &_top {
      color: $color-white;
      margin-bottom: 6rem;

      .heading-secondary,
      .heading-tertiary {
        color: $color-white;
      }

      .heading-secondary {
        margin-bottom: 2rem;
      }
    }

    &_bottom {
      width: 100%;
      color: $color-white;
    }
  }

  &_right {
    width: 40%;
    padding: 2rem 1rem;
    // padding-top: 4rem;

    @media screen and (max-width: $large-bp) {
      width: 100%;
    }
  }
}

.section-news {
  background-image: none;
  &_bottom {
    width: 100%;
    padding-top: 0;
  }
}
