.section-aside {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  backface-visibility: hidden;
  background-color: $color-white;
  z-index: 9999;
  transition: all 0.3s;

  &_img {
    width: 20rem;
    transform: scale(1.6);
  }

  &_close {
    position: absolute;
    top: 4rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2.4rem;
    color: $color-primary;
  }

  .navigation {
    width: 100%;
    border-bottom: 1px solid #eee;
  }

  &_contact {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $large-bp) {
      flex-direction: column;
    }

    &-wrapper {
      width: 32%;
      margin: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and (max-width: $large-bp) {
        width: 80%;
      }
    }

    &_icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;
      background-color: $color-primary;

      i {
        font-size: 2rem;
        color: $color-white;
      }
    }

    &-info {
      font-size: 1.8rem;
      color: $color-secondary;
      font-weight: 700;
    }
  }

  &_socials {
    width: 100%;
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;

      li {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          width: 6rem;
          height: 6rem;
          background-color: $color-white;
          border: 1px solid $color-primary;

          i {
            font-size: 2.4rem;
            color: $color-primary;
          }
        }
      }
    }
  }
}

.section-aside-open {
  right: 0;
}

.section-main {
  width: 100%;
  height: 70rem;
  position: relative;
  margin-bottom: 4rem;

  @media screen and (max-width: $large-bp) {
    height: 95vh;
    margin-bottom: 0;
  }

  @media screen and (max-width: $small-bp) {
    height: 100vh;
  }
}

.section-values,
.section-certificates {
  width: 100%;
  padding: 8rem 4rem;
  margin-top: -4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $color-white-bg;

  @media screen and (max-width: $large-bp) {
    padding: 6rem 2rem;
    margin-top: 4rem;
  }

  @media screen and (max-width: $small-bp) {
    padding: 4rem 2rem;
    margin-top: 0rem;
  }

  &_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &_heading {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.section-values {
  &_heading {
    padding-bottom: 6rem;
    border-bottom: 1px solid $color-primary;
    margin-bottom: 6rem;
  }
  @media screen and (max-width: $small-bp) {
    padding-bottom: 0;
    &_wrapper {
      flex-direction: column;
    }
  }
}

.section-about {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10rem 4rem;
  margin-bottom: 4rem;
  background-color: $color-white-bg;

  @media screen and (max-width: $large-bp) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 6rem 2rem;
  }

  &_left {
    width: 50%;
    height: 70rem;
    padding: 1rem 0;

    @media screen and (max-width: $large-bp) {
      width: 100%;
      padding: 0;
    }

    @media screen and (max-width: $small-bp) {
      height: 48rem;
      margin-top: 2rem;
    }

    &_info {
      display: inline-block;
      font-size: 1.8rem;
      text-transform: uppercase;
      background-color: $color-primary;
      padding: 1rem;
      width: 50%;
      color: $color-white;
      position: absolute;
      top: 20%;
      left: 53%;
      z-index: 1000;
    }

    &_img-container {
      width: 100%;
      height: 100%;

      @media screen and (max-width: $large-bp) {
        margin-bottom: 0rem;
      }

      .section-about_img {
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media screen and (max-width: $small-bp) {
          height: 55vh;
          margin-bottom: 0;
        }
      }
    }
  }

  &_right {
    width: 60%;
    padding-right: 8rem;

    @media screen and (max-width: $large-bp) {
      width: 100%;
      padding-right: 0;
    }

    @media screen and (max-width: $medium-bp) {
      margin-top: 2rem;
    }

    @media screen and (max-width: $small-bp) {
      margin-top: 0;
      margin-bottom: 2rem;
    }
  }

  &_wrapper {
    width: 100%;
    padding: 1rem;
    margin-bottom: 3rem;

    &_grey {
      background-color: #f5f5f5;
      margin-bottom: 1rem;
    }

    .heading-secondary {
      transform: translateY(1.5rem);
    }
  }
}

.section-about-3 {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 10rem;
  padding: 8rem 4rem;
  background-image: linear-gradient(
      to bottom,
      $primary-blue,
      rgba($primary-blue, 0.6)
    ),
    url(../imgs/section-about/fredrick-f-U9_pRASawlc-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (max-width: $large-bp) {
    padding: 6rem 2rem;
  }

  @media screen and (max-width: $small-bp) {
    padding: 4rem 2rem;
    margin-bottom: 8rem;
  }

  &_top {
    text-align: center;
    margin-bottom: 3rem;
  }

  &_bottom {
    width: 100%;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    @media screen and (max-width: $small-bp) {
      flex-direction: column;
    }

    &_left,
    &_right {
      display: flex;
      flex-direction: column;
    }

    &_left {
      align-items: self-start;
    }

    &_right {
      align-items: self-end;
    }
  }
}

.section-certificates {
  width: 100%;
  height: 100%;
  padding: 4rem 16rem;

  @media screen and (max-width: $extra-large-bp) {
    padding: 4rem;
  }

  @media screen and (max-width: $small-bp) {
    padding: 2rem;
  }
  &_heading {
    margin-bottom: 1rem;
  }

  &_img-container {
    width: 100%;

    img {
      max-width: 100%;
    }

    @media screen and (max-width: $large-bp) {
      width: 90%;
    }
  }
}

.section-services {
  width: 100%;
  height: 100%;
  padding: 4rem;
  background-color: $color-white;

  @media screen and (max-width: $large-bp) {
    padding: 6rem 2rem;
  }

  @media screen and (max-width: $small-bp) {
    padding: 4rem 2rem;
  }

  &_top {
    width: 100%;
    margin-bottom: 1.5rem;

    &_heading {
      color: $color-primary;
      width: 50%;

      @media screen and (max-width: $small-bp) {
        width: 80%;
      }

      &_desc {
        display: inline-block;
        font-size: 1.6rem;
        line-height: 1.4;
        color: $color-secondary;
        margin-bottom: 3rem;
      }
    }
  }

  &_bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 4rem;

    .img-container {
      width: 100%;
      height: 32rem;
      transform-origin: center;
      will-change: transform;
      overflow: hidden;
      position: relative;

      img {
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.7s ease;
        overflow: hidden;
        transform-origin: center;
        will-change: transform;
        filter: brightness(60%);
      }
    }
  }
}

.section-steps,
.section-news {
  width: 100%;
  height: 100%;
  padding: 6rem 4rem;
  background-color: $color-white-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  @include heroPattern;

  @media screen and (max-width: $large-bp) {
    padding: 6rem 2rem;
  }

  @media screen and (max-width: $small-bp) {
    padding: 4rem 2rem;
  }

  &_top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;

    @media screen and (max-width: $medium-bp) {
      text-align: center;
    }
  }

  &_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
  }
}

.section-steps {
  &_bottom {
    width: 100%;
    @media screen and (max-width: $extra-large-bp) {
      width: 100%;
      padding: 2rem 10rem;
    }

    @media screen and (max-width: $small-bp) {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 0;
      text-align: center;
    }
  }
}

.section-cta {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 6rem 4rem;
  width: 100%;
  background-color: $color-secondary;
  background-image: linear-gradient(
    50deg,
    rgb(107, 164, 184),
    rgb(15, 76, 129)
  );
  @media screen and (max-width: $large-bp) {
    padding: 6rem 2rem;
    flex-direction: column;
  }

  &_left {
    width: 30%;
    padding: 1rem;

    @media screen and (max-width: $large-bp) {
      width: 100%;
    }

    &_top {
      color: $color-white;
      margin-bottom: 6rem;

      .heading-secondary,
      .heading-tertiary {
        color: $color-white;
      }

      .heading-secondary {
        margin-bottom: 2rem;
      }
    }

    &_bottom {
      width: 100%;
      color: $color-white;
    }
  }

  &_right {
    width: 40%;
    padding: 2rem 1rem;

    @media screen and (max-width: $large-bp) {
      width: 100%;
    }
  }
}

.section-news {
  background-image: none;
  margin-bottom: 5rem;
  &_bottom {
    width: 100%;
    padding-top: 0;
  }
}
