//Font Specs
$main-font: "krub", "sans-serif";
$main-font: "PT Sans", "sans-serif";
$main-font: "Nunito", "sans-serif";
$headers-font: "Montserrat", "open-sans";
$default-font-size: 1.6rem;

//color specs
// $color-white: #f5f5f5;
$color-white: #fff;
$color-white-bg: #fff;
$color-primary: #184981;
$color-primary: #174e9a;
$color-secondary: #06103a;
// $color-secondary: #111;
$color-tertiary: #5c94a9;
$color-tertiary-2: #cb9fcb;

//break points
$small-bp: 479px;
$medium-bp: 770px;
$large-bp: 991px;
