.heading-main {
  font-size: 7.2rem;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 4rem;
  font-family: $headers-font;
  font-weight: 700;

  @media screen and (max-width: $small-bp) {
    text-align: center;
  }
}

.paragragh-text {
  font-size: 1.6rem;
  font-weight: 500;
  width: 100%;
  color: rgba($color: $color-secondary, $alpha: 0.7);
  margin-bottom: 2rem;

  @media screen and (max-width: $medium-bp) {
    font-size: 1.8rem;
  }

  span {
    color: $color-secondary;
    font-weight: 700;
  }

  i {
    color: $color-secondary;
    font-weight: 800;
    font-size: 1.8rem;
    margin-right: 1rem;
  }
}
