.section-heading {
  width: 100%;
  height: 70vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-secondary, 0.8) 40%,
      rgba($color-primary, 0.7) 70%
    ),
    url(../imgs/img-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $color-white;
  padding: 8rem 4rem;
  padding-left: 10rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section-main {
  width: 100%;
  height: 100%;
  padding: 8rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  // background-color: #f5f5f5;

  &_sidebar {
    width: 20%;
    height: 100%;
  }

  &_content {
    width: 70%;
    // height: 100%;
    background-color: $color-white;

    &_img {
      display: inline-block;
      width: 100%;
      height: auto;
    }

    &_outter {
      margin-top: 4rem;
    }

    &_inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
    }
  }
  &_service-name {
    font-size: 3.2rem;
    font-weight: 900;
    font-family: $headers-font;
    text-transform: uppercase;
    color: $color-secondary;
  }

  .icon-container {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a:link,
    a:visited {
      text-decoration: none;

      i {
        font-size: 1.8rem;
        color: rgba($color-secondary, 0.8);
      }
    }

    a:hover {
      i {
        color: $color-primary;
      }
    }
  }
}
