.section-aside {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  backface-visibility: hidden;
  background-color: $color-white;
  z-index: 9999;
  transition: all 0.3s;

  &_img {
    width: 20rem;
    // overflow: hidden;
    transform: scale(1.6);
  }

  &_close {
    position: absolute;
    top: 4rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2.4rem;
    color: $color-primary;
  }

  .navigation {
    width: 100%;
    border-bottom: 1px solid #eee;
  }

  &_contact {
    width: 100%;
    padding: 2rem;
    // margin-top: 4rem;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $large-bp) {
      flex-direction: column;
    }

    &-wrapper {
      width: 32%;
      margin: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and (max-width: $large-bp) {
        width: 80%;
      }
    }

    &_icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;
      background-color: $color-primary;

      i {
        font-size: 2rem;
        color: $color-white;
      }
    }

    &-info {
      font-size: 1.8rem;
      color: $color-secondary;
      font-weight: 700;
    }
  }

  &_socials {
    width: 100%;
    padding: 2rem 4rem;
    // margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;

      li {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          width: 6rem;
          height: 6rem;
          background-color: $color-white;
          border: 1px solid $color-primary;

          i {
            font-size: 2.4rem;
            color: $color-primary;
          }
        }
      }
    }
  }
}

.section-aside-open {
  right: 0;
}

.section-heading {
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-secondary, 0.8) 40%,
      rgba($color-secondary, 0.9) 70%
    ),
    url(../imgs/img-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $color-white;
  padding: 8rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-main {
  width: 100%;
  height: 100%;
  padding: 8rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  // background-color: #f5f5f5;
  @media screen and (max-width: $medium-bp) {
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (max-width: $small-bp) {
    padding: 8rem 2rem;
  }

  &_sidebar {
    width: 20%;
    height: 100%;

    @media screen and (max-width: $large-bp) {
      display: none;
    }
  }

  &_content {
    width: 70%;
    // height: 100%;
    background-color: $color-white;

    @media screen and (max-width: $large-bp) {
      width: 100%;
    }

    &_img {
      display: inline-block;
      width: 100%;
      height: auto;

      @media screen and (max-width: $medium-bp) {
        height: 40vh;

        object-fit: cover;
      }
    }

    &_outter {
      margin-top: 4rem;
    }

    &_inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;

      @media screen and (max-width: $small-bp) {
        flex-direction: column;
        align-items: center;
      }
    }
  }
  &_service-name {
    font-size: 3.2rem;
    font-weight: 900;
    font-family: $headers-font;
    text-transform: uppercase;
    color: $color-secondary;
  }

  .icon-container {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $small-bp) {
      width: 80%;
      margin-top: 2rem;
    }

    a:link,
    a:visited {
      text-decoration: none;

      i {
        font-size: 1.8rem;
        color: rgba($color-secondary, 0.8);

        @media screen and (max-width: $small-bp) {
          font-size: 2.4rem;
        }
      }
    }

    a:hover {
      i {
        color: $color-primary;
      }
    }
  }
}
